@import "tailwindcss";

@font-face {
  font-family: "Joker";
  src: url("/fonts/joker.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JackassWild";
  src: url("/fonts/JackassWild.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

/* Ignore warning: @theme is valid Tailwind v4 syntax */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.menu-text:hover {
  animation: jitter 0.35s ease-in-out;
}

@keyframes jitter {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-1px);
  }

  50% {
    transform: translateX(1px);
  }

  75% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(0);
  }
}